################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataIntegration.Core
/DataIntegration.Data
/DataIntegration.UI
