<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--Netsuite credentials-->
		<add key="AccountId" value="5250198-sb1"/>
		<add key="ConsumerKey" value="1aa1fe38b8c77a8525a3cd7f687d49db55319b09cfd9c2bca2be23376fa178c9"/>
		<add key="ConsumerSecret" value="ff885b3a7b032c5b33be19595ef0a66b4a3ed11d20fed50bbb5b1509ad628797"/>
		<add key="TokenKey" value="3162561321f535a3d03676a0771d6f8c77993a98ec87021c4f7a4de3fc2793d7"/>
		<add key="TokenSecret" value="691b3d94579297659e8f1460f55757484b195e0e88381c91bc70ccf4e8f92362"/>

		<!--Email credentials-->
		<add key="SenderEmail" value=""/>
		<add key="SenderPassword" value=""/>
		<add key="SmtpHost" value=""/>
		<add key="SmtpPort" value=""/>

		<!--Database connection string-->
		<add key="ConnectionString1" value="Data Source=DESKTOP-5P4NLSJ;Initial Catalog=TestDB;Integrated Security=True;"/>
		<add key="ConnectionString2" value=""/>
		<add key="ConnectionString3" value=""/>
	</appSettings>
</configuration>